aside
  .about_me
    p Canadian in Taiwan. Traveler. CEO @ <a href='http://vectr.com'>Vectr</a>. Designer & Developer.

    .follow_me
      <a href="https://twitter.com/nickbudden" class="twitter-follow-button" data-show-count="false" data-size="large">Follow @nickbudden</a>

  // TODO: Add search and tags

  //- .search!= search_form()
  //- .tags
  //-   h4 Tags
  //-   != tagcloud({min_font: 15, max_font: 22})
